.girar {
    display: inline-block;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.girar:hover {
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}